<%- include('partials/header') %>

<div class="login-container">

    <div class="left">

        <div class="header">
            <h1 class="animation a1">Bot UPE</h1>
            <h4 class="animation a2">Entre com seu e-mail e senha</h4>
        </div>

        <div class="form">
            <form action="/" method="POST">
                <div class="user-input">
                    <input type="email" class="form-field animation a3" placeholder="E-mail" name="username">
                </div>

                <div class="user-input">
                    <input type="password" class="form-field animation a4" placeholder="Senha" name="userPassword"> 
                </div>

                <button class="animation a5" type="submit">ENTRAR</button>
            </form>
        </div>
    </div>

    <div class="right"></div></div>
</div> 

<%- include('partials/footer') %>

